//
// Variables
//

$base-font-family: 'PT Sans', Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;


// colors
//
$white-color      : #fff;
$silver-color     : #eee;
$black-color      : #000;
$gray-color       : #828282;
$gray-color-light : lighten($gray-color, 35%);
$gray-color-dark  : darken($gray-color, 25%);

$text-color       : lighten($black-color, 36%);
$background-color : $white-color;
$blue-color       : #0B202D;
$red-color        : #e36767;
$brand-color      : #2a7ae2;

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

//header height
//
$header-height-S: 50px;
$header-height-M: 80px;

// z-index
//
$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;

// breakpoints
//
$phone   : 320px;
$tablet  : 768px;
$desktop : 1170px;