<footer class="footer">
  <div class="container">
    <ul class="social-media">

      {% if site.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}" title="{{ site.twitter_username }}" target="_blank">
          <i class="icon icon--twitter"></i>
        </a>
      </li>
      {% endif %}

      {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}" title="{{ site.github_username }}" target="_blank">
          <i class="icon icon--github"></i>
        </a>
      </li>
      {% endif %}

      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
          <i class="icon icon--feed"></i>
        </a>
      </li>
    </ul>
    <small>{{ site.description }}</small>
  </div>
</footer>

<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.min.js" | prepend: site.baseurl }}"></script>