<header class="header">
  <div class="logo">
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>

  <nav>
    <ul class="secondary-nav">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      {% for page in site.pages %}
        {% if page.title %}
        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon--feed"></i> RSS</a></li>
    </ul>
  </nav> <!-- nav -->
</header>
