//
// Blog styles

.container {
  width: 90%;
  max-width: $tablet;
  margin: 0 auto;
  @include clearfix;
}


// Animations
//
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
// bounce animations
//
.bounce {
  @include animation(bounce 2s infinite);

  &:hover,
  &:focus {
    -webkit-animation: none;
    animation: none;
  }
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  background: $blue-color;
  min-height: $header-height-S;
  width: 100%;
  z-index: $header-zindex;
  box-shadow: 0 1px 2px rgba(#000, 0.3);
  @include font-smoothing;

  @include media(T) {
    height: $header-height-M;
    background: transparent;
    box-shadow: none;
  }

  @include media(D) {
    @include transition(background-color 0.3s);
    @include transform(translate3d(0, 0, 0));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &.is-fixed {
      position: fixed;
      top: -$header-height-M;
      background-color: $blue-color;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
    }

    &.is-visible {
      @include transform(translate3d(0, 100%, 0));
    }

    &.menu-is-open {
      background-color: $blue-color;
    }
  }
}

.logo {
  display: block;
  text-align: center;
  margin-top: 15px;
  @include font-size(20px);

  a {
    display: inline-block;
    color: $white-color;
    text-transform: uppercase;
    font-weight: 700;
  }

  @include media(T) {
    margin: 0;
    left: 2.6em;
    position: absolute;
    @include center(y);
    left: .875em;
  }
}

.navbar {
  margin: 0;
  text-align: center;
  padding: 0;
  width: 100%;

  li {
    display: inline-block;
    margin: 1.1em;
  }

  a {
    display: inline-block;
    color: $white-color;
    text-transform: uppercase;
    font-weight: 700;
  }

  @include media(T) {
    width: auto;
    text-align: right;
    display: block;
    position: absolute;
    @include center(y);
    right: 40px;
  }
}

.intro {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 0;
  height: 450px;
  text-align: center;
  overflow: hidden;
  z-index: $content-zindex;
  @include font-smoothing;
  margin-bottom: 2.4em;
  background: url("/images/background-img.jpg") no-repeat center center;
  background-size: cover;

  .post-meta,
  .post-title {
    position: absolute;
    width: 90%;
    max-width: $desktop;
    @include center;
    font-weight: 300;
    text-align: center;
  }

  .post-title {
    @include font-size(32px);
    color: $white-color;
    line-height: 1.2;
  }

  .post-meta {
    @include font-size(14px);
    font-style: italic;
    margin-top: 80px;

    &, a {
      color: darken($white-color, 20%);
    }

    @include media(D) {
      margin-top: 80px;
    }
  }

  @include media(T) {
    .post-title {
      @include font-size(46px);
    }
  }

  @include media(D) {
    height: 100%;
  }
}

body.about .intro {
  .post-title {
    margin-top: 90px;

    @include media(D) {
      margin-top: 0;
    }
  }

  .author {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    @include center;
    margin-top: -5px;
    padding: 4px;
    border: 2px solid $silver-color;

    @include media(D) {
      margin-top: -100px;
    }
  }
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -25px;
  color: $gray-color-light;
  display: none;

  .icon {
    @include font-size(50px);
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white-color;
  }

  @include media(D) {
    display: block;
  }
}

.main-content {
  position: relative;
  z-index: $content-zindex;

  p {
    line-height: 1.6;
    margin: 2em 0;
  }

  @include media(D) {
    p {
      @include font-size(20px);
    }
  }
}

// Posts
//
.post {
  padding-bottom: 1.5em;
}

.post-list {
  .post {
    border-bottom: 1px solid $gray-color-light;
  }

  .post:last-child {
    border: none;
  }
}

.post-header {
  h1 {
    @include font-size(28px);
    margin-bottom: 0;

    @include media(D) {
      @include font-size(32px);
    }
  }
  a {
    color: $text-color;
  }

  .post-meta {
    @include font-size(13px);
    font-style: italic;
    color: darken($gray-color-light, 20%);
  }
}

//
// Comments
.comments {
  border-top: 2px solid rgba($black-color, .2);
  background-color: darken($white-color, 3%);
  padding-bottom: 1.3em;

  h3 {
    display: inline-block;
    font-weight: 800;
  }
}
body.single {
  .post {
    padding-bottom: 0;
  }
  .footer {
    margin-top: 0;
  }
}

// share
//
.share {
  @extend %clearfix;
  padding: 1em 0;
  text-align: center;

  a {
    display: inline-block;
    margin: 0 5px;
    @include transition(opacity .2s linear);
    color: $gray-color;
    opacity: .6;

    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: none;
    }
  }

  .icon {
    @include font-size(32px);
  }
}

//
// footer
//
.footer {
  @extend %clearfix;
  background-color: $blue-color;
  margin-top: 2.5em;
  padding: 1.5em 0 .5em;

  small {
    text-align: center;
    color: $gray-color;
    display: block;
    width: 100;
    @include font-size(12px);
    border-top: 1px solid rgba($white-color, .1);
    padding-top: 1em;
  }
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  @extend %clearfix;
  margin-bottom: 1em;

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    @include transition(color .2s linear);
    color: darken($gray-color-light, 10%);
    @include font-size(52px);

    &:hover,
    &:focus {
      text-decoration: none;
      color: $white-color;
    }
  }
}

// Pagination posts
//
.pagination {
  width: 100%;
  max-width: $tablet;
  margin: 1.5em auto 0;
  position: relative;
  text-align: center;
  padding: 0;

  a, span {
    display: block;
    @include user-select(none);
    padding: .4em 1em;
    @include font-size(16px);
    color: $gray-color;
    margin: .5em 0;
  }

  a {
    border: 1px solid $gray-color-light;
    text-transform: lowercase;
    border-radius: 3px;

    .no-touch &:hover {
      background-color: $silver-color;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .button:first-of-type a::before {
    content: '\00ab  ';
  }

  .button:last-of-type a::after {
    content: ' \00bb';
  }

  @include media(T) {

    a, span {
      display: inline-block;
      margin: 0;
    }

    .button {
      position: absolute;
      top: 0;

      &.older-posts {
        left: 0;
      }
      &.newer-posts {
        right: 0;
      }
    }
  }

  @include media(D) {
    margin: 1.5em auto 0;
  }
}