---
layout: default
slug: single
---

<section class="intro"{% if page.cover %} style="background-image: url({{ page.cover }})"{% endif %}>
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-meta">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">
      <i class="icon icon--calendar"></i>
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }} de
      {% case m %}
        {% when '1' %}Janeiro
        {% when '2' %}Fevereiro
        {% when '3' %}Março
        {% when '4' %}Abril
        {% when '5' %}Maio
        {% when '6' %}Junho
        {% when '7' %}Julho
        {% when '8' %}Agosto
        {% when '9' %}Setembro
        {% when '10' %}Outubro
        {% when '11' %}Novembro
        {% when '12' %}Dezembro
      {% endcase %}
      de {{ page.date | date: "%Y" }}
    </time>
    {% if page.comments %}
    <span> -- <i class="icon icon--comment"></i> <a href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}">Deixe um comentário</a></span>
    {% endif %}
  </p>

  <a href="#content" data-offset="-45" class="scroll-down bounce"><i class="icon icon--circle-down"></i></a>
</section>

<article role="article" id="content" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <div class="container">
    {{ content }}

    {% include share.html %}
  </div>

  {% if page.comments %}
    {% include comments.html %}
  {% endif %}
</article>
